body{
    font-family: monospace;
    font-weight: 800;
}
#forward-btn {
    margin-left: -10px;
}
button {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
    font-weight: 800;
}
body{
    font-family: monospace;
    font-weight: 800;
}
#forward-btn {
    margin-left: -10px;
}
button {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
    font-weight: 800;
}
